.about {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--B-section);
}

.about-title {
 margin-bottom: 1rem;
font-size: 3.2rem;
line-height: 3.7rem;
text-align: center;
color: var(--C-title);
}

.text {
font-size: 1.7rem;
line-height: 2.7rem;
color: var(--B-footer);
}