:root {
    --c-white: #FFF;
    --B-section: #EEEFF1;
    // --B-footer: #34547A;
    --B-radial: radial-gradient(50% 50% at 50% 40%, #3A5F56 0%, rgba(184, 125, 88, 0) 100%);
    --B-hero: #F4F3F0;
    --B-footer: #3A5F56;
    --C-title: #000000;
    --C-text: #727272;

    --ff-primary:  Roboto;

}









