<header class="header">
  <div class="header-container container">
    <a href="" class="header-logo">VP</a>
    <nav class="header-nav">
      <ul class="header-nav-container">
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Головна</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Про мене</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Роботи</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Моє резюме</a>
        </li>
      </ul>
      <button class="menu" id="open"><i class="fa-solid fa-bars"></i></button>
      
      <div class="menu-list-container" id="menu">
        <button class="close" id="close"><i class="fa-sharp fa-regular fa-circle-xmark"></i></button>
     <ul >
      <li class="header-nav-item">
        <a href="" class="header-nav-link header-nav-link--mobile">Головна</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link header-nav-link--mobile">Про мене</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link header-nav-link--mobile">Роботи</a>
      </li>
      <li class="header-nav-item">
        <a href="" class="header-nav-link header-nav-link--mobile">Моє резюме</a>
      </li>
     </ul>
    </div>
    </nav>
    <include src="html/layouts/components/toggle/_toggle.html"></include>
</header>
