<footer class="contacts container">
  <div class="content-container">
    <ul class="contact-list">
      <li>
        Тел:
        <a class="contact-link" href="tel:+380971428868">+38 (097)-14-28-868</a>
      </li>
      <li>
        Email:
        <a class="contact-link" href="mailto:vitaliy_piddubchak@ukr.net"
          >vitaliy_piddubchak@ukr.net</a
        >
      </li>
    </ul>

    <ul class="social">
      <li class="item">
        <a href="https://github.com/Vitaliy28031985" target="_blank">
          <i class="fa-brands fa-github icon"></i>
        </a>
      </li>
      <li class="item">
        <a href="https://www.linkedin.com/in/piddubchak/" target="_blank">
          <i class="fa-brands fa-linkedin icon"></i>
        </a>
      </li>
      <li class="item">
        <a
          href="https://www.youtube.com/channel/UC2Pz9LNF5-pKOHFgsPlvnYg"
          target="_blank"
        >
          <i class="fa-brands fa-youtube icon"></i>
        </a>
      </li>
      <li class="item">
        <a href="https://t.me/Vi_Dub" target="_blank">
          <i class="fa-brands fa-telegram icon"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
